numpy~=1.26.4
scipy~=1.14.1
pandas~=2.2.3
tqdm~=4.67.1
bitarray~=3.0.0
numba~=0.60.0
open3d~=0.18.0
plotly~=5.24.1
llvmlite~=0.43.0
matplotlib~=3.9.2
requests~=2.32.3
dted~=1.1.0
pillow~=11.0.0
sdrparse~=1.0
yaml~=0.2.5
pyyaml~=6.0.2
simulib~=1.0
pygeodesy~=24.11.11
setuptools~=75.1.0